<div class="d-flex justify-content-center mt-2 ">
    <% if notice%>
        <p class="notice text-center bg-light text-success w-25 rounded p-2 shadow-sm"><%=notice%></p>
    <%end%>
    <% if alert%>
        <p class="alert text-center bg-light text-danger w-25 rounded p-2 shadow-sm"><%=alert%></p>
    <%end%>
</div>  